<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/blackbg.css">
<html>
<head>
	<title>Pay u money Integration  </title>
</head>
<body>
	Transaction Success!
	<%= JSON.stringify(data) %>
</body>
</html>